<button class="btn btn-primary m-2" routerLink="/home">HOME</button>
<button class="btn btn-primary m-2 " routerLink="/menuone">MENU1</button>
<button class="btn btn-primary m-2" routerLink="/menutwo">MENU2</button>
<button class="btn btn-primary m-2" routerLink="/about">ABOUT</button>
<button class="btn btn-primary m-2" routerLink="/contact">CONTACT</button>
<!--<button class="btn btn-primary m-2" routerLink="/contact">RESERVE</button>-->
<button routerLink="cart" class="btn btn-white">
    <header>
        <div class="navbar">
            <!--<i style="font-size: 22px;" class="fas fa-shipping-fast"></i>
            <strong>ecommerce test website</strong>-->
            <button id="n1" class="btn btn-success" routerLink="products">
                <i class="fa fa-cart-plus fa-2" aria-hidden="true"></i>
                <div style="font-size: 5px;" class="bg-dark">{{totalitem}}</div>
            </button>
        </div>

    </header>